/* Default Screen Size */
* {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: red;
}
nav ul {
  text-align: center;
}
nav li {
  display: inline;
  list-style-type: none;
  margin: 4px;
}
nav a {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  background-color: red;
  text-decoration: none;
}
nav a:hover {
  background-color: blue;
}
nav a.current {
  border: 3px solid blue;
}
/*main {
  width: 1200px;
  margin: auto;
  background-color: red;
}*/
h1 img {
  margin: auto;
  display: block;

  width: 50%;
}
.float-left {
  float: left;
  margin: 5px;
  border-radius: 4px;
}
#me {
  border-radius: 50%;
}
blockquote {
  border-radius: 10px;
  background-color: gray;
  padding: 4px;
}
article {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: blue;
}

article * {
  background-color: blue;
}

article img {
  margin: auto;
}
table,
table a,
th,
td {
  background-color: red;
}
ol {
  list-style-type: upper-roman;
}
section {
  display: flex;
  flex-direction: row;
}
footer {
  clear: both;
  padding-top: 20px;
}

/* contact form */
#mainForm {
  background-color: gray;
  border: 1px solid black;
  margin: 0 auto;
  width: 30rem;
  border-radius: 3%;
  font-family: system-ui, Arial, Helvetica, sans-serif;
}
label {
  display: inline;
  color: white;
  letter-spacing: 0.1rem;
}
#main label {
  display: block;
}
#main input {
  font-size: 1.3rem;
  width: 90%;
  border-radius: 5px;
  padding-left: 5px;
}

#radio input {
  margin-right: 30px;
}
#check input {
  margin-right: 20px;
}
.hint {
  color: red;
  margin-top: 5px;
}
.hideMe {
  visibility: hidden;
}
.badInput {
  border: 2px dashed red;
}
fieldset {
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: black;
}
legend {
  color: white;
  float: left;
  font-family: "Graduate", cursive;
  font-size: 1.2rem;
  margin-bottom: 1rem;

  text-shadow: 1px 1px 0px gray;
  width: 100%;
}
button.feedback {
  background-color: blue;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  color: white;
  display: block;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
}
button.feedback:hover {
  background-color: darkblue;
}
button.feedback:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* end form */

#webprojects article {
  flex: 1;
}
/* pokeball */

#pokeball {
  margin: auto;
}
#pokeballtop {
  background-color: red;
  width: 200px;
  height: 100px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: -30px;
  border-bottom: 10px solid black;

}
#pokebutton {
  width: 60px;
  height: 60px;
  background-color: white;
  color: black;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  display: block;
  margin-top: -10px;
  margin-bottom: -30px;
  border: 3px solid black;
  position: relative;
  
}
#pokebutton:hover {
  background-color: yellow;
}
#pokebutton:active {
  border: 6px solid gold;
}
#pokeballbottom {
  background-color: white;
  width: 200px;
  height: 100px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  border: 1px solid black;
  /*border-top: 30px solid black;*/
  margin: auto;
  z-index: -4;
  
}
#pokemessage {
  text-align: center;
}
#pokemonName {
  text-transform: capitalize;
  font-weight: bold;
}
#pokemon {
  margin: auto;
}
#pokemon img {
 width: 200px;
 display: block;
 margin: auto;
}
/* end pokeball */


/* calculator */
@font-face {
  font-family: "sevenSegment";
  src: url("../assets/fonts/sevenSegment.ttf");
}
#calc {
  height: 400px;
  width: 300px;
  background-color: gray;
  margin: auto;
  margin-top: 50px;
  padding-top: 75px;
  border-radius: 10px;
  border: solid 1px black;
  box-shadow: 1px 1px 1px 1px black;
  clear: none;
}


#calc ul {
  columns: 4;
  list-style-type: none;
  margin: auto;
  padding-top: 75px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 25px;
  background-color: gray;
}
#calc #keypad {
  background-color: gray;
}
#calc li {
  /*display: block; 
  border-radius: 4px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: red;
  border: 1px solid black;
  color: white; */
  margin-bottom: 5px;
  background-color: gray;
}
#calc button {
  /*display: block;*/
  border-radius: 4px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  background-color: red;
  /*border: 1px solid black;*/
  color: white;
  width: 100%;
}
#calc #equalsButton {
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 10px;
  background-color: green;
}

#disp {
  display: block;
  height: 50px;
  width: 200px;
  background-color: black;
  margin: auto;
  color: green;
  text-align: right;
  font-size: 40px;
  font-family: "sevenSegment", monospace;
  overflow: auto;
}
#disp::placeholder {
  color: green;
}
/* end calculator */

/* Medium Screen Size */
@media screen and (max-width: 800px) {
  section {
    flex-direction: column;
  }
  nav li {
    display: list-item;
  }
  h2 {
    font-size: 1em;
  }
}

/* Tiny Screen Size */
@media screen and (max-width: 550px) {
  figure,
  .float-left {
    display: none;
  }
  nav a {
    font-size: 75%;
  }
}
